<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Scanner - Report</title>

    <!-- Custom fonts for this template -->
    <link href="{{ url_for('static', filename='vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet"
          type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/sb-admin-2.min.css') }}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css"/>


    <!-- Custom styles for this page -->
    <link href="{{ url_for('static', filename='vendor/datatables/dataTables.bootstrap4.min.css') }}" rel="stylesheet">

</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-laugh-wink"></i>
            </div>
            <div class="sidebar-brand-text mx-3">App Scanner</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item">
            <a class="nav-link" href="dashboard">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Dashboard</span></a>
        </li>
        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
            <a class="nav-link" href="report">
                <i class="fas fa-fw fa-book"></i>
                <span>Report</span></a>
        </li>
        <!-- Nav Item - Dashboard -->
        <li class="nav-item">
            <a class="nav-link" data-toggle="modal" data-target="#logoutModal">
                <i class="fas fa-fw fa-angle-double-left"></i>
                <span>Logout</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>
    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">
            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                <!-- Sidebar Toggle (Topbar) -->
                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                    <i class="fa fa-bars"></i>
                </button>

                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">

                    <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                    <li class="nav-item dropdown no-arrow d-sm-none">
                        <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-search fa-fw"></i>
                        </a>
                        <!-- Dropdown - Messages -->
                        <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                             aria-labelledby="searchDropdown">
                            <form class="form-inline mr-auto w-100 navbar-search">
                                <div class="input-group">
                                    <input type="text" class="form-control bg-light border-0 small"
                                           placeholder="Search for..." aria-label="Search"
                                           aria-describedby="basic-addon2">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="button">
                                            <i class="fas fa-search fa-sm"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </li>

                    <div class="topbar-divider d-none d-sm-block"></div>

                    <!-- Nav Item - User Information -->
                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="mr-2 d-none d-lg-inline text-gray-600 small" id="loggedin_user"></span>
                            <img class="img-profile rounded-circle"
                                 src="{{ url_for('static', filename='img/undraw_profile.svg') }}">
                        </a>
                        <!-- Dropdown - User Information -->
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                             aria-labelledby="userDropdown">
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                Logout
                            </a>
                        </div>
                    </li>

                </ul>

            </nav>
            <!-- End of Topbar -->
            <!-- Begin Page Content -->
            <div class="container-fluid">

                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Filter scanned apps</h6>
                    </div>
                    <div class="card-body">
                        <form class="form-inline">
                            <div class="form-group mb-4">
                                <label for="appcriticality">App criticality</label>&nbsp;&nbsp;&nbsp;
                                <select class="form-control" id="appcriticality">
                                    <option value="all">All</option>
                                    <option value="critical">Critical</option>
                                    <option value="high">High</option>
                                    <option value="medium">Medium</option>
                                </select>
                            </div>

                            <div class="form-group mb-4 offset-1">
                                <label for="appcriticality">Filter by date</label>&nbsp;&nbsp;&nbsp;
                                <select class="form-control" id="filterbydate">
                                    <option value="yes">Yes</option>
                                    <option value="no" selected>No</option>
                                </select>
                            </div>
                            <div class="form-group mx-sm-3 mb-2" id="installation_date_form">
                                <label for="scan_date">Installation date range</label>&nbsp;&nbsp;&nbsp;
                                <input type="text" name="installation_date_range" id="installation_date_range"
                                       class="form-control" readonly/>
                            </div>
                            <div class="form-group offset-1">
                                <button type="button" class="btn btn-primary btn-sm mb-2" id="btnFilter">Filter</button>
                                <button type="button"
                                        class="mx-sm-3 d-sm-inline-block btn btn-sm btn-primary shadow-sm pull-right"
                                        id="btnGenerateReport" style="margin-top: -10px"><i
                                        class="fas fa-download fa-sm text-white-50"></i> Generate
                                    Report
                                </button>
                            </div>
                        </form>


                    </div>
                </div>
                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Application scanned</h6>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <th colspan="7">
                                        <center>Report of the scanned application</center>
                                    </th>
                                </tr>
                                <tr>
                                    <td colspan="7" id="filtering_criteria"
                                        style="display: none;margin-left: 50px"></td>

                                </tr>
                                <tr>
                                    <th>#Count</th>
                                    <th>Application name</th>
                                    <th>Package</th>
                                    <th>Versions</th>
                                    <th>Latest scan date</th>
                                </tr>
                                </thead>
                                <tfoot>
                                <tr>
                                    <th>#Count</th>
                                    <th>Application name</th>
                                    <th>Package</th>
                                    <th>Versions</th>
                                    <th>Latest scan date</th>
                                </tr>
                                </tfoot>
                                <tbody id="table-content">

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; Yannick TUNGA 2022</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <button class="btn btn-primary" type="button" onclick="logout()">Logout</button>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript-->
<script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

<!-- Core plugin JavaScript-->
<script src="{{ url_for('static', filename='vendor/jquery-easing/jquery.easing.min.js') }}"></script>

<!-- Custom scripts for all pages-->
<script src="{{ url_for('static', filename='js/sb-admin-2.min.js') }}"></script>

<!-- Page level plugins -->
<script src="{{ url_for('static', filename='vendor/datatables/jquery.dataTables.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/datatables/dataTables.bootstrap4.min.js') }}"></script>

<!-- Page level custom scripts -->
<script src="{{ url_for('static', filename='js/demo/datatables-demo.js') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>

<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.debug.js"
        integrity="sha384-NaWTHo/8YCBYJ59830LTz/P4aQZK1sS0SneOgAvhsIl3zBu8r9RevNg5lHCHAuQ/"
        crossorigin="anonymous"></script>
<script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>
<script src="{{ url_for('static', filename='helper/utils.js') }}"></script>
<script>
    isLoggedIn();
    $(document).ready(function () {
        $("#installation_date_form").hide();
        $(function () {
            $('input[name="installation_date_range"]').daterangepicker({
                "startDate": new Date(),
                "endDate": new Date(),
                opens: 'center',
                locale: {
                    format: 'YYYY/MM/DD'
                }
            });
        });
        $("#filterbydate").change(function () {
            if ($(this).val() == "yes") {
                $("#installation_date_form").show();
            } else {
                $("#installation_date_form").hide();
            }
        })
    });

    function filterReportData() {
        var levels = $("#appcriticality").val(),
            date_arr = $("#installation_date_range").val().split(" - "),
            start = date_arr[0].replaceAll("/", "-"),
            end = date_arr[1].replaceAll("/", "-");
        var data = `levels=${levels}`;
        if ($("#filterbydate").val() == 'yes') {
            data += `&start=${start}&end=${end}`;
        }

        $.ajax({
            url: `api/filter?${data}`,
            method: 'GET',
            dataType: 'json',
            success: function (result) {
                console.log("Dashboard data");
                console.log(result.all);
                setReportContent(levels, result.all);

            }
        });
    }

    function setReportContent(level, arr_obj) {
        var data = "";
        const key_arr = ["critical", "high", "medium"];
        const colors = ["red", "#FF7377", "#E0C35A"];
        const colors_obj = {"critical": "red", "high": "#FF7377", "medium": "#E0C35A"};
        var data_counter = 1;
        if (level != "all") {
            for (var i = 0; i < arr_obj.length; i++) {
                data += `<tr style="background-color: ${colors_obj[level]};color:white;font-weight: bold">
                       <td>${i + 1}</td>
                       <td>${arr_obj[i].app_name}</td>
                       <td>${arr_obj[i].package}</td>
                                            <td>${arr_obj[i].version}</td>
                                            <td>${arr_obj[i].installed}</td>
                                        </tr>`;
            }
        } else {
            console.log(`Index of keys`);
            for (var x = 0; x < key_arr.length; x++) {
                console.log(`${key_arr[x]} ${arr_obj[key_arr[x]].length}`)
                for (var i = 0; i < arr_obj[key_arr[x]].length; i++) {
                    data += `<tr style="background: ${colors[x]};color:white;">
                        <td>${data_counter++}</td>
                        <td>${arr_obj[key_arr[x]][i].app_name}</td>
                       <td>${arr_obj[key_arr[x]][i].package}</td>
                                            <td>${arr_obj[key_arr[x]][i].version}</td>
                                            <td>${arr_obj[key_arr[x]][i].recorded_at}</td>
                                        </tr>`;
                }
            }
        }
        $("#table-content").html(data);
        $("#dataTable").DataTable();
    }


    function exportFile() {
        $.ajax({
            url: `api/export`,
            method: 'GET',
            {#dataType: 'json',#}
            success: function (result) {
                console.log("Dashboard data");
                download(result);

            }
        });
    }

    function download(data) {
        const blob = new Blob([data]);
        {#const blob = new Blob([data], { type: 'application/json' });#}

        // Create an object URL
        const url = URL.createObjectURL(blob);

        // Create a new link
        const anchor = document.createElement('a');
        anchor.href = url;
        anchor.download = "scanner_file.pdf";

        // Append to the DOM
        document.body.appendChild(anchor);

        // Trigger `click` event
        anchor.click();

        // Remove element from DOM
        document.body.removeChild(anchor);
    };

    function downloadJs() {
        var levels = $("#appcriticality").val(),
            isFilteredByDate = $("#filterbydate").val() == "yes" ? true : false,
            date_arr = $("#installation_date_range").val() != null || $("#installation_date_range").val() != "" ? $("#installation_date_range").val().split(" - ") : null,
            start = date_arr[0].replaceAll("/", "-"),
            end = date_arr[1].replaceAll("/", "-");
        $("#filtering_criteria").html(`Critical level: <b>${levels}</b> ${isFilteredByDate ? `Scan date from <b>${start}</b> to <b>${end}</b>` : ``}`)
        let pdf = new jsPDF('l', 'pt', [1720, 640]);
        $("#filtering_criteria").show()
        $("#dataTable").style = 'margin-left:100px;';

        pdf.html(document.getElementById('dataTable'), {
            callback: function (pdf) {
                pdf.save('Report.pdf');
                $("#filtering_criteria").hide()
                $("#dataTable").removeAttr('style');
            }
        });
    }


    $("#btnFilter").click(function () {
        filterReportData();
    })
    $("#btnGenerateReport").click(function () {
        downloadJs();
    })
</script>
<!-- html2canvas 1.0.0-alpha.11 or higher version is needed -->
<script>

</script>
</body>

</html>
